This dataset provides a comprehensive overview of behavioral classes among Brazilian adolescents. It encompasses crucial information across various domains, including physical activity levels, sedentary behavior, common mental disorders, and lifestyle habits such as sleep duration and alcohol consumption. The dataset serves as a valuable resource for understanding and analyzing the intricate interplay between these factors, offering insights into the behavioral patterns and health outcomes of this demographic group.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATA_PATH = './adolescent_behavioral_classes.xlsx'

data = pd.read_excel(DATA_PATH)
data.drop_duplicates(inplace=True)

definition = pd.read_excel(DATA_PATH, sheet_name='Definition')

print(f"The data has {data.shape[0]} rows and {data.shape[1]} columns, the columns are:")

definition

The data has 217 rows and 23 columns, the columns are:

      Column name                                         Definition
0              IC                                Identification code
1             Sex                          Sex (1 - boys; 2 - girls)
2             Age                                       Age in years
3           Grade        High school grades (1 - 10; 2 - 11; 3 - 12)
4       Class_SES  Socioeconomic status classification (1 - wealt...
5    LPA/day(min)              Light physical activity per day (min)
6   MVPA/day(min)  Moderate-to-vigorous physical activity per day...
7       Steps/day                            Number of steps per day
8     SB/day(min)                   Sedentary behavior per day (min)
9              ST                        Screen time per day (hours)
10             SD                             Sleep duration (h:min)
11    Weight (kg)                                   Body weight (kg)
12     Height (m)                                         Height (m)
13            BMI                           Body mass index (kg.m-2)
14            SBP                     Systolic blood pressure (mmHg)
15            DBP                    Diastolic blood pressure (mmHg)
16             WC                           Waist circumference (cm)
17             HW                            Hip circumference  (cm)
18           WHtR                              Waist-to-height ratio
19        Alcohol                      Alcohol use (1 - no; 2 - yes)
20        Tobacco                      Tobacco use (1 - no; 2 - yes)
21            CMD                       Common mental disorder score
22            LCA                                     Latent classes

In [24]:
print(f"The data have the following format:")
data.head()

The data have the following format:

,IC,Sex,Age,Grade,Class_SES,LPA/day(min),MVPA/day(min),Steps/day,SB/day(min),ST,...,BMI,SBP,DBP,WC,HW,WHtR,Alcohol,Tobacco,CMD,LCA
0,1,1,16,2,2,198.571429,48.357,7173.428571,737.821429,9.0,...,25.317739,112.5,54.5,85.60,104.80,0.497674,2,1,10,2
1,2,1,18,3,2,173.464286,52.321,6765.714286,765.642857,5.0,...,23.558253,103.0,55.0,81.80,102.60,0.468231,1,1,9,2
2,3,2,17,3,1,128.250000,33.000,5010.428571,839.214286,6.0,...,19.914403,101.5,56.5,69.75,96.00,0.434579,2,2,7,3
3,4,1,16,2,2,86.107143,37.607,4053.428571,773.428571,3.5,...,26.805030,95.0,50.0,101.65,102.10,0.590988,2,1,3,2
4,5,2,15,1,3,146.708333,71.917,8256.166667,747.083333,4.5,...,20.851368,99.0,53.5,73.45,95.35,0.450613,1,1,3,2

Organize the data

In [23]:
#pip install scikit-learn
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import sklearn.metrics as metrics

In [ ]:
##For KNN